{% extends 'base.html' %}

{% block content %}
<div class="container">
 <h1>Resultados de la búsqueda</h1>
 <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">calificacion</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      {% for receta in recetas %}
      <tr>
        <th scope="row">{{ receta.id }}</th>
        <td>{{ receta.nombre_receta }}</td>
        <td>{{ receta.calificacion }}</td>
        <td><img src="{{ receta.imagen.url }}" alt="{{ receta.nombre_receta }}" width="50"></td>
      </tr>
      {% endfor %}
    </tbody>
 </table>
</div>
{% endblock %}