{% extends "./base.html" %}

{% block tittle %} Editar {{ receta.nombre_receta }} {% endblock %}

{% block body%}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Receta</h2>
        <div class="card cardeditar">
            <div class="card-body">
                <div class="form-group inputRecetas">
                    <a href="#" onclick="history.go(-1); return false;" ><i class="fa-solid fa-arrow-left fa-xl"></i></a>
                </div>
                <form action="/edicionReceta/" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="form-group inputRecetas">
                        <input type="text" id="txtid" name="txtid" value="{{receta.id}}"
                            class="form-control" readonly maxlength="50" required>
                    </div>
                    <div class="form-group inputRecetas">
                        <input type="text" id="txtnombre_receta" name="txtnombre_receta" value="{{receta.nombre_receta}}"
                            class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group inputRecetas">
                        <input type="number" id="numcalificacion" name="numcalificacion" value="{{receta.calificacion}}"
                            class="form-control" min="1" max="5" required>
                    </div>
                    <div class="form-group inputRecetas">
                        {% if receta.imagen %}
                        <label>Imagen actual:</label>
                        <img src="{{ receta.imagen.url }}" alt="{{ receta.nombre_receta }}" style="max-width: 100%; max-height: 100%;"/>
                        {% endif %}
                        <input type="file" id="txtImagen" name="txtImagen" class="form-control" accept="image/*">
                    </div>
                    <div class="form-group inputRecetas">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}